{% include 'base.html' %}

{% block content %}
<main>
    <h2>Контакти</h2>
    <ul class="contactsList">
        <li>Адреса: вул. Шевченка, 20, м. Львів, Україна</li>
        <li>Телефон: +380 67 123 4567</li>
        <li>Email: info@college.com</li>
        <li>Сайт: <a href="https://www.college.com">www.college.com</a></li>
        <li>Facebook: <a href="https://www.facebook.com/college">www.facebook.com/college</a></li>
        <li>Telegram: <a href="https://t.me/college">t.me/college</a></li>
    </ul>
    <p>Ми з радістю відповімо на всі ваші запитання та пропозиції.</p>
</main>
{% endblock %}