{% include 'base.html' %}

{% block content %}
    <main class="mainPageContainer">
        <h2>Ласкаво просимо до Технічного коледжу! Ми пропонуємо вам великий вибір дисциплін з різних спеціальностей, які викладаються досвідченими викладачами. Ми гарантуємо якість навчання та доступні ціни!</h2>
        <p>
            Наш колідж є одним з найкращих у країіні. Ви можете ознайомитись з нашимим програмами, прайс лістом перейшовши на відповідні сторінки сайту справа в палені управління.
            У разі якщо ви маєте будь-які питання або пропозиції, ви можете звернутись до нас за контактними даними, які ви знайдете на сторінці "Контакти".
        </p>
    </main>
{% endblock %}